<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class = "container">
    <a class="navbar-brand mt-1", href="<%= root_path %>">
      <%= image_tag("logo.png", class: "d-inline-block align-middle", id: "logo-display") %>
      <strong>ThoughtVomit</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to 'View articles', articles_path, class: "dropdown-item" %></li>
            <% if logged_in? %>
              <li><%= link_to 'Create article', new_article_path, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to 'View categories', categories_path, class: "dropdown-item" %></li>
            <% if logged_in? && current_user.admin? %>
              <li><%= link_to 'Create category', new_category_path, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to "Bloggers", users_path, class: "nav-link" %>
        </li>
      </ul>
      <class="container">
        <% if logged_in? %>
          <li class="nav-item dropdown btn">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_user.admin? %>
                Admin <%= current_user.username %>
              <% else %>
                <%= current_user.username %>
              <% end %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to 'View your profile', user_path(current_user), class: "dropdown-item" %></li>
              <li><%= link_to 'Edit your profile', edit_user_path(current_user), class: "dropdown-item" %></li>
              <li><%= link_to 'Delete profile', user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Woah! All your data will be deleted, are you sure?" } %></li>
            </ul>
          </li>
          <%= link_to 'Logout', logout_path, class: "btn btn-secondary", method: :delete %>
        <% else %>
          <%= link_to 'Login', login_path, class: "btn ms-1", id: "button-format" %>
          <%= link_to 'Signup', signup_path, class: "btn ms-1", id: "button-format" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>